@media (min-width: 1018px) {

	html {
		font-size: 16px;
	}

	.static-l {
		position: static !important;
	}

	.hide-l {
		display: none !important;
	}

	.absolute-l {
		position: absolute !important;
	}

	.container {
		max-width: 980px;
		margin: auto auto;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	
	}

	.container-wide {
		max-width: none;
	}

	.l-100 {
		width: 100%;
		float: none;
		min-height: 1px;
	}


	.l-90 {
		width: 89%;
		float: left;
		min-height: 1px;
	}

	.l-90-margin-right {
		width: 89%;
		float: left;
		margin-right: 1%;
	}

	.l-90-margin-left {
		width: 89%;
		float: left;
		margin-left: 1%;
	}

	.l-80 {
		width: 80%;
		float: left;
		min-height: 1px;
	}

	.l-80-margin-right {
		width: 79%;
		float: left;
		margin-right: 1%;
	}

	.l-80-margin-left {
		width: 79%;
		float: left;
		margin-left: 1%;
	}


	.l-75 {
		width: 75%;
		float: left;
		min-height: 1px;
	}

	.l-75-margin-right {
		width: 74%;
		float: left;
		margin-right: 1%;
	}

	.l-75-margin-left {
		width: 74%;
		float: left;
		margin-left: 1%;
	}

	.l-70 {
		width: 69%;
		float: left;
		min-height: 1px;
	}

	.l-70-margin-right {
		width: 69%;
		float: left;
		margin-right: 1%;
	}

	.l-70-margin-left {
		width: 69%;
		float: left;
		margin-left: 1%;
	}

	.l-66 {
		width: 66.666%;
		float: left;
		min-height: 1px;
	}

	.l-66-margin-right {
		width: 65%;
		float: left;
		margin-right: 1%;
	}

	.l-66-margin-left {
		width: 65%;
		float: left;
		margin-left: 1%;
	}


	.l-50 {
		width: 50%;
		float: left;
		min-height: 1px;
	}


	.l-50 {
		width: 50%;
		float: left;
		min-height: 1px;
	}


	.flex > .l-50:nth-child(2n+1) {
		clear: left;
	}

	.l-50-margin-right {
		width: 49%;
		float: left;
		margin-right: 1%;
	}

	.l-50-margin-left {
		width: 49%;
		float: left;
		margin-left: 1%;
	}


	.l-25 {
		width: 25%;
		min-height: 1px;
		float: left;
	}

	.flex > .l-25:nth-child(4n+1) {
		clear: left;
	}

	.l-25-margin-right {
		width: 24%;
		float: left;
		margin-right: 1%;
	}

	.l-25-margin-left {
		width: 24%;
		float: left;
		margin-left: 1%;
	}


	.l-33 {
		width: 33.333%;
		min-height: 1px;
		float: left;
	}

	.flex > .l-33:nth-child(3n+1) {
		clear: left;
	}

	.l-33-margin-right {
		width: 32%;
		float: left;
		margin-right: 1%;
	}

	.l-33-margin-left {
		width: 32%;
		float: left;
		margin-left: 1%;
	}

	.l-20 {
		min-height: 1px;
		width: 20%;
		float: left;
	}

	.l-20-margin-right {
		width: 19%;
		float: left;
		margin-right: 1%;
	}

	.l-20-margin-left {
		width: 19%;
		float: left;
		margin-left: 1%;
	}

	.flex > .l-20:nth-child(5n+1) {
		clear: left;
	}

	.l-10 {
		min-height: 1px;
		width: 9%;
		float: left;
	}

	.l-10-margin-right {
		width: 9%;
		float: left;
		margin-right: 1%;
	}

	.l-10-margin-left {
		width: 9%;
		float: left;
		margin-left: 1%;
	}

	.flex > .l-10:nth-child(10n+1) {
		clear: left;
	}

	.l-margin-right {
		margin-right: 0.5em;
	}

	.l-margin-left {
		margin-left: 0.5em;
	}

	.l-margin-top {
		margin-top: 0.5em;
	}

	.l-margin-bottom {
		margin-bottom: 0.5em
	}
	
		.l-margin-right-x2 {
		margin-right: 1em !important;
	}

	.l-margin-left-x2 {
		margin-left: 1em !important;
	}

	.l-margin-top-x2 {
		margin-top: 1em !important;
	}

	.l-margin-bottom-x2 {
		margin-bottom: 1em  !important;
	}
	
}


